.index,
.form {
  padding: 10px;
}

.module.index {
  border: 2px solid $base16-blue;

  .list {
    text-align: left;
  }

  ul.no-bullets {
    list-style: none;
  }
}

.module.form {
  border: 2px solid $base16-orange;
}
