$base00: #181818; // Dark grey
$base01: #282828; // ...
$base02: #383838; // ...
$base03: #585858; // Light grey
$base04: #b8b8b8; // Grey-white
$base05: #d8d8d8; // ...
$base06: #e8e8e8; // ...
$base07: #f8f8f8; // White-ish
$base08: #ab4642; // Red
$base09: #dc9656; // Orange
$base0a: #f7ca88; // Yellow
$base0b: #a1b56c; // Green
$base0c: #86c1b9; // Cyan
$base0d: #7cafc2; // Blue
$base0e: #ba8baf; // Violet
$base0f: #a16946; // Brown

$base16-red: $base08;
$base16-orange: $base09;
$base16-yellow: $base0a;
$base16-green: $base0b;
$base16-cyan: $base0c;
$base16-blue: $base0d;
$base16-violet: $base0e;
$base16-brown: $base0f;
