$single-module-width: 23%;
$double-module-width: 48%;

.clocks {
  max-height: 290px;

  h2 {
    padding-bottom: 15px;
  }

  .weekday {
    color: $base16-blue;
  }

  .day,
  .month {
    color: $base16-yellow;
  }

  .local-time,
  .utc-time {
    margin-top: 5px;
  }

  .local-time {
    color: $base16-green;
  }

  .utc-time {
    color: $base16-red;
  }
}

.module {
  margin: 0 0 0 1%;
  flex: 0 1 auto;
}
