@font-face {
  font-family: "forecast";
  src: url("/fonts/forecastfont.eot");
  src: url("/fonts/forecastfont.eot?#iefix") format("embedded-opentype"),
       url("/fonts/forecastfont.woff") format("woff"),
       url("/fonts/forecastfont.ttf") format("truetype"),
       url("/fonts/forecastfont.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-night,
.icon-sunny,
.icon-frosty,
.icon-windysnow,
.icon-showers,
.icon-basecloud,
.icon-cloud,
.icon-rainy,
.icon-mist,
.icon-windysnowcloud,
.icon-drizzle,
.icon-snowy,
.icon-sleet,
.icon-moon,
.icon-windyrain,
.icon-hail,
.icon-sunset,
.icon-windyraincloud,
.icon-sunrise,
.icon-sun,
.icon-thunder,
.icon-windy {
  &:before,
  &:after {
    font-family: "forecast";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;

    position: absolute;
    transform: translateX(-50%);
  }
}

.icon-night:after { content: "\f100"; }
.icon-sunny:after { content: "\f101"; }
.icon-frosty:before { content: "\f102"; }
.icon-windysnow:before { content: "\f103"; }
.icon-showers:before { content: "\f104"; }
.icon-basecloud:before { content: "\f105"; }
.icon-cloud:before { content: "\f106"; }
.icon-rainy:before { content: "\f107"; }
.icon-mist:before { content: "\f108"; }
.icon-windysnowcloud:before { content: "\f109"; }
.icon-drizzle:before { content: "\f10a"; }
.icon-snowy:before { content: "\f10b"; }
.icon-sleet:before { content: "\f10c"; }
.icon-moon:before { content: "\f10d"; }
.icon-windyrain:before { content: "\f10e"; }
.icon-hail:before { content: "\f10f"; }
.icon-sunset:before { content: "\f110"; }
.icon-windyraincloud:before { content: "\f111"; }
.icon-sunrise:before { content: "\f112"; }
.icon-sun:before { content: "\f113"; }
.icon-thunder:before { content: "\f114"; }
.icon-windy:before { content: "\f115"; }


.icon-basecloud:before,
.icon-cloud:before,
.icon-windy:before {
  color: $base04;
}

.icon-moon:before,
.icon-night:after,
.icon-showers:before,
.icon-drizzle:before {
  color: $base16-blue;
}

.icon-sun:before,
.icon-sunny:after {
  color: $base16-orange;
}
