$weather-box-size: 120px;

#weather-module {
  border: 2px solid $base16-violet;
  width: $single-module-width;

  .weather {
    display: flex;
    width: 100%;

    p {
      margin-bottom: 0;
    }

    .weather-box {
      flex: 0 1 auto;
      height: $weather-box-size;
      text-align: center;
      width: 33%;
    }
  }

  .forecast-icon {
    font-size: $weather-box-size;
    line-height: $weather-box-size;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .current-temp {
    color: $base16-yellow;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 48px;
    }
  }
}
