$weather-box-size: 120px;

#weather-module {
  border: 2px solid $base16-violet;

  .current-conditions {
    display: flex;
    width: 100%;

    p {
      margin-bottom: 0;
    }

    .current-icon {
      font-size: $weather-box-size;
      line-height: $weather-box-size;
    }

    .weather-box {
      flex: 0 1 auto;
      height: $weather-box-size;
      text-align: center;
      width: 33%;
    }
  }

  .current-temp {
    color: $base16-yellow;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 48px;
    }
  }

  .forecast-table {
    margin-top: 10px;

    .forecast-row {
      display: flex;

      font-size: 20px;
      line-height: 20px;
      margin: 0 5% 10px;

      span,
      div {
        flex: 0 1 auto;
      }

      .current-icon {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        width: 25%;
      }

      .day {
        text-align: center;
        width: 25%;
      }

      .min-temp,
      .max-temp{
        text-align: right;
        width: 20%;
      }

      .max-temp {
        color: $base16-red;
      }

      .min-temp {
        color: $base16-blue;
      }
    }
  }
}
