@font-face {
  font-family: 'weathericons';
  src: url('/fonts/weathericons-regular-webfont.eot');
  src: url('/fonts/weathericons-regular-webfont.eot#?iefix') format('embedded-opentype'),
    url('/fonts/weathericons-regular-webfont.woff') format('woff'),
    url('/fonts/weathericons-regular-webfont.ttf') format('truetype'),
    url('/fonts/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.column.weather {
  .current-conditions {
    font-size: 100px;
  }
}
