@import 'colors';
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&subset=latin,latin-ext);

*:not(.fa):not(.icon) {
  font-family: 'Source Code Pro', Helvetica, Arial, sans-serif !important;
}

body {
  background: $base00;
  color: $base07;
}

.container:not(.ui) {
  padding: 3%;
}

.rss-reader {
  border: 2px solid $base16-green;

  .stories .content {
    text-align: left;

    max-height: 500px;
    overflow: auto;

    a {
      color: $base16-blue;

      &:hover {
        background: $base16-blue;
        color: $base00;
      }
    }

    code {
      color: $base16-yellow;
    }

    .chat {
      background: $base01;
      margin-bottom: 10px;
      padding: 5px;
    }

    img {
      max-width: 100%;
    }
  }
}

.clock {
  .weekday {
    color: $base16-blue;
  }

  .day,
  .month {
    color: $base16-yellow;
  }

  .local-time {
    color: $base16-green;
  }

  .utc-time {
    color: $base16-red;
  }
}
