// Vendor includes
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&subset=latin,latin-ext);

// Local includes
@import 'colors';
@import 'defaults';
@import 'forecast_font';

@import 'admin';
@import 'admin_bar';
@import 'dashboard';
@import 'form';
@import 'rss';
@import 'weather';

*:not(i) {
  font-family: 'Source Code Pro', Helvetica, Arial, sans-serif !important;
}

body {
  background: $base00;
  color: $base07;
  padding-top: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-around;
}
